body {
    background-image: url("resources/9uwJ32.jpg");
    background-size: cover;
    text-align: center;
}

video {
    margin: 3rem auto;
    width: 50%;
}

h1,
H3 {
    display: inline;
    color: white;
    font-size: 2rem;
}

.mult {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
    height: 40%;
    align-content: space-around;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

* {
    font-family: 'Press Start 2P', cursive;
}

#resposta {
    margin-top: 10px;
    color: yellow;
}

#heart,
.heart {
    margin: 2rem;
    height: 3rem;
}

#heart {
    align-items: flex-start;
    margin: 3rem auto;
    justify-content: center;
    display: flex;
    width: 50%;
}