body {
    background-image: url("resources/9uwJ32.jpg");
    background-size: cover;
    text-align: center;
}

video {
    margin: 3rem auto;
    width: 50%;
}

h1 {
    display: inline;
    color: white;
    font-size: 2rem;
}

.mult {
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    height: 20%;
    align-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

* {
    font-family: 'Press Start 2P', cursive;
}